svg {
  position: relative; 
  width: 90%;
  margin-bottom: 3px;
}
svg text {
  text-transform: uppercase;
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #C2CCF5;
  font-size: 80px;
}


@keyframes stroke {
  0%   {
    fill: rgba(72,138,20,0); stroke: #C2CCF5;
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(72,138,20,0); stroke: #C2CCF5; }
  80%  {fill: rgba(72,138,20,0); stroke: #C2CCF5; stroke-width: 3; }
  100% {
    fill: #C2CCF5; stroke: rgba(54,95,160,0); 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}