@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    background-color: #C2CCF5;
    font-family:'Roboto';
}

footer {    
    color: white;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 15%;
}


.my{
    margin-top:20% ; 
    margin-bottom:20%; 
    text-align: center; 
    color: white;
    
}




.pic {
    width: 500px; 
    padding-top: 15%;
    padding-bottom: 15%;
}




@media only screen and (max-width:768px) {
    
.pic {
    width: 350px; 
   
}

}